{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {# this is font-awesome icon #}
    <script src="https://kit.fontawesome.com/88a4455533.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {# to MAKE A FAVICION #}
            <link rel='shortcut icon' href= "{% static 'phone/images/phone.png' %}" type='image/x-icon'/>


    <title>Phone Directory</title>
    <style>
        h1 {
            color: green;
        }

        body {
            height: 100%;
        }

        footer {
            color: green;
            text-align: center;
        }

        a {
            color: green;
            text-align: center;
        }

        .text-center {
            padding-left: 35%;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <h1>Phone Directory</h1>
    </div>


    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" href="{% url 'home' %}">Home</a>
        </div>

        <div class="navbar-nav align-left">
            <a class="nav-item nav-link" href="{% url 'show' %}">Show</a>
        </div>
    </div>

</nav>
<div class="container pb-9" id="main">
    <div class="row">
        <div class="col-sm-6 mx-auto" style="padding-top: 80px">
            <form action="{% url 'home' %}" method="post">
                {% csrf_token %}

                {% if request.method == 'POST' %}

                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Congrats!! </strong> {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Full name</label>
                    <div class="col-10">
                        <input name='name' class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Phone Number</label>
                    <div class="col-10">
                        <input name='number' class="form-control" type="number">
                    </div>
                </div>

                <div class="pull-right ">
                    <button type="submit" class="btn btn-primary float-right">Submit</button>
                </div>
                {% else %}
                <div class="form-group row">
                    <label class="col-4 col-form-label">Full name</label>
                    <div class="col-10">
                        <input name='name' class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-4 col-form-label">Phone Number</label>
                    <div class="col-10">
                        <input name='number' class="form-control" type="number">
                    </div>
                </div>

                <div class="pull-right pb-5">
                    <button type="submit" class="btn btn-primary float-right">Submit</button>
                </div>
                {% endif %}

            </form>
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>